.visual{
  button{
    outline: none;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: right;
    background: grey;
    color: aliceblue;
    margin-right: 20px;
   // margin-bottom: 20px;
  }
}